.perfil
{
    background-color: black;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 300px;
}
h1
{
    color: white;
}
p
{
    color: white;
}
